.calendar {
  &__personal {
    margin-top: 16px;
  }

  &__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #F1F1F1;
    padding: 16px;


    &:nth-child(3n) {
      margin-right: 0;
    }

    &:nth-child(2n) {
      background-color: $wc;
    }

    &.away-game {
      .calendar__team {
        flex-direction: row-reverse;

        .calendar__team-wrap {
          &:first-child {
            justify-content: flex-start;
          }

          &:last-child {
            justify-content: flex-end;
          }
        }
      }
    }

    &--common {
      background-color: transparent;
      flex-direction: column;
      align-items: stretch;
      flex-basis: 32.4%;
      padding: 0;
      box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);
      margin-bottom: 16px;
      margin-right: 16px;
    }
  }

  &__block {
    display: flex;
    flex-basis: 25%;
    justify-content: center;

    &:first-child {
      justify-content: flex-start;
    }

    &:last-child {
      justify-content: flex-end;
    }

    &:nth-child(2) {
      flex-basis: 50%;
    }

  }

  &__info {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  &__date {
    margin-right: 40px;
    max-width: 110px;
    width: 100%;
  }


  &__team-name {
    word-wrap: inherit;
  }

  &__date,
  &__tour,
  &__team-name,
  &__game-score span {
    font-weight: 600;
  }

  &__game-score-wrap {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  &__team {
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    max-width: 100%;
    justify-content: center;
  }

  &__team-wrap {
    display: flex;
    flex-basis: 42%;
    align-items: center;

    &:first-child {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__score-wrap {
    flex-basis: 15%;
  }

  &__team-logo {
    max-width: 24px;
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0 7px;
  }

  &__game-score {
    color: $wc;
    margin: 0 auto;
    max-width: 64px;
    width: 100%;
    min-height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      font-size: 20px;
    }

    .separator {
      font-size: 17px;
      margin: 0 6px 0 7px;
    }

    &.winner {
      background-color: #5E9E44;
    }

    &.loser {
      background-color: #e41d37;
    }

    &.equal {
      background-color: #f7ba3a;
    }

    &.upcoming-game {
      background-color: #DDDDDD;

      span {
        color: $bc;
        font-size: 14px;
        font-weight: 400;
      }
    }
  }

  &__status {
    max-width: 47px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  &__header {
    font-weight: 600;
    font-size: 20px;
    min-height: 55px;
    display: flex;
    align-items: center;
    padding-left: 25px;
  }

  .passed {
    .calendar__header {
      background-color: #C4C4C4;
    }
  }

  .upcoming {
    .calendar__header {
      background-color: #5E9E44;
      color: $wc;
    }
  }

  .statistics {
    .calendar__header {
      background-color: #CFB54B;
      color: $tc;
    }
  }

  &__body {
    padding: 10px 25px;

    .calendar__game-score {
      span {
        color: $tc;
        font-size: 14px;
      }

      .separator {
        color: $tc;
      }
    }

    .calendar__team-name {
      font-size: 14px;
    }

    .calendar__date {
      margin-right: 0;
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 400 !important;
    }

    .calendar__team {
      &:first-child {
        justify-content: flex-end;
      }

      &:last-child {
        justify-content: flex-start;
      }
    }
  }

  &--common {
    flex-wrap: wrap;
    display: flex;
  }

  &__result-game {
    width: 100%;
  }

  &__result-game-item {
    display: flex;
    flex-direction: row;
    margin-bottom: 25px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}