footer.footer
  .container
    .footer__wrap
      .footer__info
        p © 2019. ОФ “Кыргызская Премьер Лига” 
        p Адрес: Кыргызская Республика г. Бишкек, ул. Медерова, 1 
      .footer__contacts
        a(href="tel:+996312123456")
          i.fas.fa-phone
          | Тел.: +996 312 12-34-56
        a(href="mailto:info@kpl.kg")
          i.fas.fa-envelope
          | info@kpl.kg


include ../../includes/preloader/preloader