* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  position: relative;
  font-family: 'Montserrat';
  counter-reset: section;
}

a {
  text-decoration: none;
  transition: $tr;
}

img {
  width: 100%;
  max-width: 100%;
}

ul {
  li {
    list-style: none;
  }
}

// flex footer
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  .content {
    flex: 1 0 auto;
  }
}

.overlay {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    opacity: 1;
    transition: $tr;
  }

}

// flex footer end

// container
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1180px;
  position: relative;

  @include lg {
    max-width: 960px;
  }

  @include md {
    max-width: 720px;
  }

  @include sm {
    max-width: 540px;
  }

  @include xs {
    max-width: 460px;
  }
}


// container end


// cols
.cols-wrap {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  flex-direction: row;
}

.main-col {
  max-width: 684px;
  width: 100%;

  &--news {
    max-width: 580px;

    .preview {
      margin-bottom: 22px;
    }
  }
}

.secondary-col {
  max-width: 500px;
  width: 100%;

  &--news {
    max-width: 100%;
  }
}

// cols end

// heading

.heading {
  font-weight: 600;
  color: $tc;
  font-size: 20px;
  margin-bottom: 15px;

  &--heading-ttu {
    text-transform: uppercase;
  }
}

// heading end

// select
.select-wrap {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  span {
    color: $tc;
    margin-right: 9px;
    display: block;
  }

  .select {
    position: relative;
    border: 1px solid #C4C4C4;
    min-height: 32px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 73px;
    justify-content: center;
    cursor: pointer;

    &:before {
      position: absolute;
      content: "\f107";
      font-family: "Font Awesome 5 Pro";
      right: 8px;
      top: 50%;
      transform: translateY(-50%);
      color: $tc;
    }

    &__dropdown {
      display: none;
      position: absolute;
      top: 100%;
      width: 100%;
      border: 1px solid #C4C4C4;
      background-color: $wc;
      z-index: 2;
    }

    &__option,
    .select_checked {
      font-weight: 600;
      font-size: 16px;
      cursor: pointer;
      width: 100%;
      padding-left: 8px;
      box-sizing: border-box;
    }

    &__option {
      transition: $tr;
      padding: 2.5px 0 2.5px 8px;

      &:hover {
        background-color: rgba(#ccc, 0.7);
      }
    }
  }
}

// select end


// breadcrumbs
.breadcrumbs {
  margin-bottom: 15px;

  &__list {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__item {
    &:last-child {
      color: $mc;
      pointer-events: none;
    }
  }

  &__link {
    padding-right: 27px;
    position: relative;
    min-height: 20px;
    display: flex;
    align-items: center;
    transition: $tr;
    color: $tc;

    &:hover {
      color: $mc;
    }

    &:after {
      position: absolute;
      content: "\f105";
      font-family: "Font Awesome 5 Pro";
      right: 11px;
      font-size: 14px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

// breadcrumbs end

// pagination
.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px 0;

  &__list {
    display: flex;
    flex-direction: row;
  }

  &__item {
    margin-right: 9px;

    .icon-pagination-prev {
      color: #888d8e!important;
    }

    &:last-child {
      margin-right: 0;
    }

    &.is-active {
      .pagination__number {
        background-color: $thc;
        color: $wc;
        pointer-events: none;
      }
    }
  }

  &__number {
    color: #888d8e;
    font-weight: 500;
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: $thc;
      color: $wc;
    }

    &.is-collapsed {
      pointer-events: none;

      &:hover {
        background-color: transparent;
      }
    }
  }

  &__prev,
  &__next {
    color: $tc;
    &:hover {
      color: #888d8e;
    }
  }

  &__prev {
    margin-right: 9px;
  }

  &__next {
    margin-left: 9px;
  }
}

// pagination end