.header {
  padding: 25px 0 15px;

  @include xs {
    padding-bottom: 0;
  }



  &__wrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
    position: relative;

    @include lg {
      margin-bottom: 20px;
    }

    @include md {
      margin-bottom: 15px;
    }

    @include xs {
      padding: 0 15px;
    }
  }

  &__logo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-items: center;
    text-decoration: none;

    @include xs {
      flex-direction: row;
      align-items: center;
      margin-left: 45px;
    }

    span {
      text-align: center;
      margin-top: 10px;
      font-size: 22px;
      color: #201e1e;
      font-weight: 700;

      @include lg {
        font-size: 18px;
        margin-top: 5px;
      }

      @include md {
        font-size: 16px;
      }

      @include sm {
        font-size: 15px;
      }

      @include xs {
        text-align: left;
        padding-left: 17px;
        margin: 0;
        font-size: 16px;
      }
    }
  }

  &__logo-wrap {
    display: flex;
    align-items: center;
    max-width: 125px;
    width: 100%;
    margin-top: 0 !important;

    @include lg {
      max-width: 90px;
    }

    @include md {
      max-width: 80px;
    }

    @include sm {
      max-width: 70px;
    }

    @include xs {
      max-width: 60;
      padding-left: 0 !important;
      display: flex;
    }
  }

  &__top {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 13px;
  }
}

.social {
  ul {
    li {
      display: inline-block;
      margin-left: 9px;

      @include md {
        margin-left: 5px;
      }

      &:first-child {
        margin-left: 0;
      }

      a {
        color: #333333;
        font-size: 26px;

        @include lg {
          font-size: 20px;
        }

        @include md {
          font-size: 18px;
        }

        @include sm {
          font-size: 16px;
        }

        &:hover {
          color: $mc;
        }
      }
    }
  }
}

.lang {
  margin-left: 40px;

  @include lg {
    margin-left: 30px;
  }

  @include md {
    margin-left: 20px;
  }

  ul {
    .active {
      a {
        color: $mc;
        font-weight: 600;
      }
    }

    li {
      display: inline-block;

      a {
        font-size: 12px;
        line-height: 15px;
        color: $bc;
        text-decoration: none;

        &:hover {
          color: $mc;
        }
      }
    }
  }
}

.team {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 75%;

  @include lg {
    width: 65%;
  }

  @include md {
    width: 60%;
  }

  @include sm {
    width: 70%;
  }

  @include xs {
    display: none;
  }

  &__wrap {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
  }

  &__item {
    a {
      display: block;
      max-width: 85px;
      width: 100%;

      @include lg {
        max-width: 70px;
      }

      @include md {
        max-width: 50px;
      }

      @include sm {
        max-width: 44px;
      }


    }
  }
}

.nav {
  background-color: $mc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 30px 0 50px;

  @include lg {
    padding: 0 20px 0 30px;
  }

  @include md {
    padding: 0 10px;
  }

  @include xs {
    display: none;
  }

  &__list {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;

    .active {
      .nav__link {
        color: $wc;
      }
    }
  }

  &__item {
    list-style-type: none;
    position: relative;
    padding: 15px 0;

    &:last-child {
      margin-bottom: 0;

      .sub-menu {
        right: 0;
      }
    }



    .nav__link {
      font-size: 18px;
      font-weight: 700;
      color: $bc;
      text-transform: uppercase;
      cursor: pointer;
      transition: $tr;
      display: block;
      position: relative;
      padding-right: 19px;

      @include lg {
        font-size: 17px;
      }

      @include md {
        font-size: 16px;
        font-weight: 600;
      }

      @include sm {
        font-size: 12px;
        font-weight: 500;
      }

      &:hover {
        color: $wc;
      }

      i {
        font-size: 23px;
        right: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        @include sm {
          font-size: 16px;
          right: 5px;
        }
      }

      &--open {
        color: $wc;

        i {
          transform: translateY(-50%) rotate(-180deg);
        }
      }
    }

    .sub-menu {
      position: absolute;
      flex-direction: column;
      align-items: flex-start;
      background-color: $sc;
      box-shadow: $bs;
      min-width: 290px;
      top: 100%;
      padding: 30px;
      display: none;
      z-index: 2;

      @include lg {
        padding: 25px 20px;
      }

      @include md {
        padding: 15px 20px;
      }

      @include sm {
        padding: 10px 15px;
        min-width: 230px;
      }

      &:hover {
        color: $bc !important;
      }

      .active {
        .sub-menu__link {
          color: $mc;
        }
      }

      &__item {
        padding: 0;
        margin-bottom: 15px;
        line-height: 20px;
        list-style: none;

        @include lg {
          margin-bottom: 10px;
        }

        @include md {
          margin-bottom: 7px;
        }

        @include sm {
          margin: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__link {
        font-size: 16px;
        padding: 0;
        text-transform: uppercase;
        color: $bc;
        font-weight: 700;

        @include lg {
          font-size: 14px;
        }

        @include md {
          font-size: 13px;
        }

        @include sm {
          font-size: 10px;
          font-weight: 500;
        }

        &:hover {
          color: $mc;
        }
      }
    }
  }
}

.search-wrap {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-width: 140px;
  width: 100%;

  @include lg {
    max-width: 60px;
  }

  .search-btn,
  .search-btn-close {
    max-width: 30px;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: $tr;

    &:hover {
      color: $wc;
    }
  }

  .search-btn-close {
    display: none;

    i {
      font-size: 20px;
    }
  }
}

.club-list-wrap {
  background-color: $sc;
  position: absolute;
  max-width: calc(100% - 30px);
  left: 50%;
  margin-top: 15px;
  transform: translateX(-50%);
  box-shadow: $bs;
  padding: 50px;
  box-sizing: border-box;
  display: none;
  z-index: 1;

  @include lg {
    padding: 30px;
  }

  @include md {
    padding: 20px;
  }

  @include sm {
    padding: 15px;
  }


  .club {

    &__list {
      display: flex;
      flex-wrap: wrap;
    }

    &__item {
      flex-basis: 25%;
      display: flex;
      flex-direction: row;
      align-items: center;
      transition: $tr;
      box-sizing: border-box;
      padding: 15px;
      min-height: 130px;

      @include lg {
        padding: 10px;
        min-height: 100px;
      }

      @include md {
        flex-basis: 33.33%;
        min-height: 95px;
      }

      @include sm {
        min-height: 75px;
      }


      &:hover {
        box-shadow: $bs;
      }
    }

    &__img {
      max-width: 85px;
      width: 100%;
      text-align: center;

      @include lg {
        max-width: 70px;
      }

      @include md {
        max-width: 60px;
      }

      @include sm {
        max-width: 45px;
      }
    }

    &__name {
      margin-left: 17px;
      font-weight: 700;
      color: $bc;

      @include lg {
        font-size: 15px;
      }

      @include md {
        font-size: 13px;
      }

      @include sm {
        font-size: 10px;
        margin-left: 10px;
      }
    }
  }
}

.search {
  display: none;
  overflow: hidden;
  position: absolute;
  max-width: calc(100% - 30px);
  width: 100%;
  background-color: $wc;

  form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  &__input,
  &__btn {
    min-height: 48px;
    outline: none;
  }

  &__input {
    width: 100%;
    max-width: 700px;
    border: 1px solid $mc;
    padding-left: 17px;
    padding-right: 10px;
    vertical-align: bottom;
    font-weight: 300;
    font-size: 24px;
    color: rgba(0, 0, 0, 0.38);

    &::placeholder {
      font-weight: 300;
      font-size: 24px;
      color: rgba(0, 0, 0, 0.38);
    }
  }

  &__btn {
    max-width: 48px;
    width: 100%;
    background-color: #C4C4C4;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 8px;

    i {
      font-size: 17px;
    }
  }
}

.search-open {
  display: flex;
  align-items: center;
  justify-content: center;
}

.championship {
  border-bottom: 16px solid $mc;

  @include xs {
    border-top: 16px solid $mc;
  }

  &__item {
    padding: 8px 0 8px 8px;

    &:first-child {
      padding-left: 0;

      .championship__info {
        padding-left: 8px;
      }
    }

    &:last-child {
      .championship__wrap {
        border: none;
      }
    }

    &--past-game {
      background-color: $sc;

      .championship__tour {
        background-color: #acabab;
      }

      .championship__team {
        &:hover {
          color: $mc;
        }
      }


    }
  }

  &__wrap {
    border-right: 1px solid #A4A4A4;
  }

  &__tour {
    background-color: $mc;
    display: inline-flex;
    align-items: center;
    min-height: 16px;
    padding: 0 7px;
    font-weight: 600;
    font-size: 11px;
    color: $bc;
  }

  &__info {
    padding: 0 8px;

    @include lg {
      padding-left: 0;
      padding-right: 3px;
    }
  }

  &__game-date {
    font-size: 11px;
    color: #333333;
    margin-top: 3px;
  }



  &__team {
    font-weight: 700;
    font-size: 14px;
    color: #333333;
    display: flex;
    align-items: center;
    margin-top: 5px;

    @include lg {
      font-size: 13px;
      font-weight: 600;
    }

    .team-score {
      margin-left: 13px;
    }
  }

  .swiper-wrapper {
    .swiper-slide-duplicate-prev {
      .championship__wrap {
        border: none;
      }
    }
  }

}

.search-mode {
  position: relative;
  z-index: 2;
  background-color: $wc;
  padding-bottom: 0;
}