.pagination
  a(href="#").pagination__prev
    i.fal.fa-angle-left
  ul.pagination__list
    li.pagination__item.is-active
      a(href="#").pagination__number 1
    li.pagination__item
      a(href="#").pagination__number 2
    li.pagination__item
      a(href="#").pagination__number 3
    li.pagination__item
      a(href="#").pagination__number 4
    li.pagination__item
      a(href="#").pagination__number 5
    li.pagination__item
      a(href="#" title="Show more").pagination__number.is-collapsed ...
    li.pagination__item
      a(href="#").pagination__number 13
    li.pagination__item
      a(href="#").pagination__number 14
  a(href="#").pagination__next
    i.fal.fa-angle-right