.preview {
  position: relative;
  display: flex;

  &__title-news {
    display: flex;
    align-items: center;
    padding: 10px 10px 10px 20px;
    min-height: 80px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    font-size: 30px;
    font-weight: 600;
    color: $wc;

    @include lg {
      font-size: 20px;
      min-height: 60px;
    }

    @include md {
      font-size: 15px;
      min-height: 48px;
      padding-left: 15px;
    }
  }
}

.main-news-list {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding-bottom: 10px;
  box-sizing: border-box;

  @include lg {
    padding-bottom: 5px;
  }

  @include sm {
    align-items: flex-start;
    margin-top: 10px;
  }

  @include xs {
    padding-left: 10px;
    padding-right: 10px;
  }

  ul {
    text-align: left;

    li {
      margin-bottom: 3.7px;

      a {
        font-weight: 600;
        font-size: 14px;
        color: #333333;
        padding: 8px 0 8px 20px;
        transition: $tr;
        display: block;

        @include lg {
          font-size: 13px;
          padding: 3.4px 0 3.5px 20px;
        }

        @include md {
          font-size: 11px;
          padding: 3px 0 3px 15px;
        }

        @include sm {
          padding-left: 5px;
        }

        @include xs {
          text-decoration: underline;
        }

        &:hover {
          background-color: $mc;
        }
      }
    }
  }

  .more {
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    color: $thc;

    @include sm {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 10px;
    }

    &:hover {
      color: $mc;
    }
  }
}

.last-news-main {
  .main-col {
    margin-bottom: 0;
  }
}