.info {
  .tabs__list {
    margin-left: 0;
  }

  .tabs__item.active {
    box-shadow: 0px -1px 4px rgba(0, 0, 0, 0.25);
  }

  .bombardier {
    padding-left: 0;

    thead {
      tr {
        th {
          @media screen and (max-width: 440px) {
            display: table-cell;
          }
        }
      }
    }

    tbody {
      tr {
        &:first-child {
          background-color: $sc;
        }

        td {
          @media screen and (max-width: 440px) {
            display: table-cell;
            font-size: 13px !important;
            text-align: center;
          }
        }
      }
    }

  }

  .standings__table {
    table {
      thead {
        tr {
          th {
            text-align: right;

            @include md {
              font-size: 13px;
            }

            @include sm {
              padding: 0 10px;
              text-align: center;
            }

            &:nth-child(2) {
              text-align: left;
              width: auto;
              text-transform: inherit;
            }

            &:last-child {
              padding-right: 68px;

              @include lg {
                padding-right: 50px;
              }

              @include md {
                padding-right: 20px;
              }

              @include sm {
                padding-right: 10px;
              }
            }
          }
        }
      }

      tbody {

        td {
          @include sm {
            padding: 0 10px;
          }

          &:first-child {
            @include md {
              padding-right: 10px;
            }

            @include xs {
              padding-left: 12px;
            }
          }

          &:last-child {
            padding-right: 68px;

            @include lg {
              padding-right: 50px;
            }

            @include md {
              padding-right: 20px;
            }

            @include sm {
              padding-right: 10px;
            }
          }

          .name-player {
            @include xs {
              font-size: 11px;
            }
          }

          .bombardier__photo {
            max-width: 77px;
            width: 100%;
            margin-left: 30px;
            display: flex;
            align-items: flex-end;
            height: 100%;
            display: none;

            @include lg {
              max-width: 50px;
            }

            @include md {
              margin-left: 10px;
            }

            @include sm {
              opacity: 0;
            }
          }
        }
      }
    }
  }

  .standings__wrapper.active {
    pointer-events: none;
    padding-top: 10px;

    @include lg {
      padding-top: 5px;
    }

    .bombardier__photo {
      display: flex;
    }
  }
}

.statistics {
  display: flex;
  flex-wrap: wrap;

  @include xs {
    padding: 0 15px;
  }

  &__item {
    flex-basis: 32.4%;
    margin-bottom: 16px;
    margin-right: 16px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.15);

    @include lg {
      flex-basis: 32.1%;
    }

    @include md {
      flex-basis: 48.84%;
    }

    @include sm {
      flex-basis: 48.43%;
    }

    @include xs {
      flex-basis: 100%;
      margin-right: 0 !important;
    }

    &:nth-child(3n) {
      margin-right: 0;

      @include md {
        margin-right: 16px;
      }
    }

    &:nth-child(2n) {

      @include md {
        margin-right: 0;
      }
    }
  }

  &__header {
    min-height: 55px;
    background-color: #CFB54B;
    color: $tc;
    padding-left: 25px;
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 20px;

    @include lg {
      padding-left: 15px;
      min-height: 45px;
    }

    @include sm {
      font-size: 17px;
      min-height: 40px;
    }

    @include xs {
      padding-left: 10px;
    }
  }



  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px;
    background-color: $sc;
    min-height: 55px;

    @include lg {
      padding: 0 15px;
    }

    @include sm {
      padding: 0 15px;
      min-height: 40px;
    }

    &:nth-child(2n) {
      background-color: $wc;
    }

    span {
      font-size: 14px;
      font-weight: 600;

      @include sm {
        font-size: 12px;
      }
    }
  }

  &__row-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  &__total {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  &__icon-wrap {
    margin-right: 15px;
  }
}