.banner
  .container
    a.banner__wrap(href="#")
      .banner__img
        img(src="assets/img/logo.svg", alt="")
      .banner__title
        h2 Трансляция матчей <br> Кыргызской Премьер Лиги
      .banner__link(style="background-image: url('assets/img/banner.svg');")
        span
          img(src="assets/img/banner-logo.svg", alt="")
      .banner__text
        h3 Смотрите <br> на нашем <br> Youtube-канале