.last-news-main
	.container
		.cols-wrap
			.main-col
				a(href="#").news-preview.preview
					img(src="../../assets/img/news/main.jpg", alt="")
					.preview__title-news Льву Яшину - 90 лет!
			.secondary-col
				.main-news-list
					ul
						each val, index in ['5 известных футболистов, вернувшихся в родные клубы или страны', 'Премьер Лига переходит на зимний мяч', 'Льву Яшину - 90 лет!','«Алга» - «Дордой»: прямая трансляция, онлайн - 0:0','Расслабляться «Академия Лидер» нельзя!','Дебют Рахимова в «Кара-Балта» - за кадром','«Нефтчи» и «Алай» поделили очки','Сборная КПЛ 5 тура. Обзор тура, лучшие игроки.','​Сборная Сербии наказана двумя матчами без зрителей','Дордой представил обновлённую раскраску клубного автобуса']
							li
								a(href="#")=val
					a(href="#").more ЕЩЕ НОВОСТИ


