.media {
  .heading {
    ul {
      display: inline-block;
      padding-left: 30px;

      li {
        display: inline-block;
        margin-right: 12px;

        &:last-child {
          margin-right: 0;
        }

        a {
          font-size: 14px;
          color: $tc;
          position: relative;
          font-weight: 400;

          &:hover {
            color: $mc;

            &:before {
              width: 0;
            }
          }

          &:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 1px;
            left: 0;
            bottom: 0;
            background-color: $tc;
            transition: $tr;
          }
        }
      }

      .active {
        font-weight: 600;
        pointer-events: none;

        a {
          font-weight: 600;

          &:before {
            display: none;
          }
        }
      }
    }
  }

  &__wrap {
    display: flex;
    flex-wrap: wrap;

    .media__item {
      margin-right: 20px;
      margin-bottom: 20px;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}