.media {
  &__wrap {
    display: flex;
    flex-wrap: wrap;

    .media__item {
      margin-right: 20px;
      margin-bottom: 20px;

      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}