.media
  .media__wrap
    .media__item
      a.news-preview.preview.preview--media(data-fancybox="gallery1" href="assets/img/news/theme1.jpg")
        i.far.fa-image
        img(src="assets/img/news/theme1.jpg" alt="")
        .preview__title-news
          |Абдыш-Ата 1 : 1 Алга
      a.preview--media-hidden(data-fancybox="gallery1" href="assets/img/news/theme2.jpg")
        img(src="assets/img/news/theme2.jpg" alt="")
      a.preview--media-hidden(data-fancybox="gallery1" href="assets/img/news/theme1.jpg")
        img(src="assets/img/news/theme1.jpg" alt="")
      a.preview--media-hidden(data-fancybox="gallery1" href="assets/img/news/theme2.jpg")
        img(src="assets/img/news/theme2.jpg" alt="")
    .media__item
      a.news-preview.preview.preview--media(data-fancybox href="https://www.youtube.com/watch?v=o3QU_n8pNzE")
        i.fas.fa-play-circle
        img(src="assets/img/news/theme2.jpg" alt="")
        .preview__title-news
          |Абдыш-Ата 1 : 1 Алга