.standings {
  margin-bottom: 25px;

  @include xs {
    margin-bottom: 0;
  }

  &__control {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0 25px;

    @include lg {
      margin: 16px 0 16px;
    }

    @include xs {
      padding: 0 15px;
    }

    .heading,
    form {
      flex-basis: 50%;
      margin: 0;
    }

    form {
      @include xs {
        flex-basis: 30%;
      }
    }
  }

  &__type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

    @include sm {
      flex-direction: column;
    }

    @include xs {
      padding: 0 15px;
    }

    .heading {
      flex-basis: 54%;

      @include sm {
        margin-bottom: 10px;
      }
    }

    &-zone-wrap {
      display: flex;
      flex-direction: row;
    }

    &-zone {
      margin-left: 10px;

      @include lg {
        margin-left: 20px;
      }

      &:first-child {
        @include sm {
          margin-left: 0;
        }
      }

      a {
        color: $thc;
        font-weight: 600;
        position: relative;
        font-size: 14px;

        @include xs {
          font-size: 12px;
        }

        &:hover {
          &:after {
            opacity: 0;
          }
        }

        &:after {
          position: absolute;
          content: '';
          bottom: 0;
          width: 100%;
          height: 1px;
          background-color: $thc;
          left: 0;
          transition: $tr;
        }
      }
    }

    form {
      flex-basis: 25%;
    }
  }

  &__table {
    table {
      border-spacing: 0px;
      border-collapse: collapse;
      width: 100%;
      border-bottom: 1px solid rgba(0, 0, 0, 0.25);

      thead {
        tr {
          &:first-child {
            th {
              text-align: left;
              padding: 0 15px;
            }
          }

          th {
            font-weight: 600;
            text-transform: uppercase;
            padding-bottom: 10px !important;

            &:nth-child(2) {
              width: 67.6%;
              text-transform: inherit;
            }
          }
        }
      }

      tbody {
        tr {
          background-color: $sc;
          box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);

          &:first-child {
            background-color: $mc;

            td {


              a {
                &:hover {
                  color: $thc;
                }
              }
            }
          }

          &:last-child {
            box-shadow: none;
          }

          &:nth-child(2n) {
            background-color: $wc;
          }

          td {
            font-weight: 400;
            height: 56px;
            vertical-align: middle;
            padding: 0 12px;
            text-align: right;



            &:first-child {
              font-weight: 600;
            }

            &:nth-child(2) {
              text-align: left;
            }


            .logo-team {
              display: flex;
              align-items: center;
              max-width: 28px;
              width: 100%;
              margin-right: 20px;

              @include lg {
                margin-right: 10px;
              }
            }
          }
        }
      }
    }

    &--otherKind-table {
      table {
        thead {
          tr {
            th {
              text-transform: inherit;

              &:nth-child(2) {
                width: auto;
              }
            }
          }
        }

        tbody {
          tr {
            &:first-child {
              background-color: $sc;

              td {
                a {
                  &:hover {
                    color: $mc;
                  }
                }
              }
            }

            .status {
              width: 55%;
            }

            td {
              text-align: left;
              padding: 0 15px;

              &:first-child {
                font-weight: 400;
              }

              .link {
                color: $tc;
                position: relative;
                padding-bottom: 2px;

                &:hover {
                  color: $mc;

                  &:after {
                    background-color: $mc;
                  }
                }

                &:after {
                  position: absolute;
                  content: '';
                  width: 100%;
                  height: 1px;
                  left: 0;
                  bottom: 0;
                  background-color: $tc;
                }
              }
            }
          }
        }
      }
    }
  }

  &__wrapper {
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    color: $tc;
    height: 100%;

    &:hover {
      color: $mc;
      cursor: pointer;
    }
  }

  .cols-wrap {
    @include lg {
      flex-direction: column;

      .main-col {
        max-width: 100%;
      }

      .secondary-col {
        max-width: 100%;

        .bombardier {
          @include lg {
            padding-left: 0;
          }
        }
      }
    }
  }
}

.bombardier {
  padding-left: 50px;

  &__list {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);

    ul {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 0 45px 10px 45px;

      li {
        font-weight: 600;
      }
    }
  }

  &__list-item {
    position: relative;
    min-height: 55.7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $wc;
    padding-left: 16px;
    padding-right: 24px;
    box-sizing: border-box;
    cursor: pointer;

    @include lg {
      padding: 0 15px;
    }

    &:nth-child(2n) {
      background-color: $sc;
    }

    &:before {
      position: absolute;
      counter-increment: section;
      content: counter(section);
      font-weight: 600;
      top: 50%;
      transform: translateY(-50%);
    }

    &.active {
      align-items: flex-end;
      padding-top: 15px;

      &:before {
        top: 20px;
        transform: translateY(-0);
      }

      .bombardier__info {
        align-items: flex-start;

        a {
          margin-left: 0;
        }

        .bombardier__photo {
          max-width: 77px;
          width: 100%;
          margin-left: 30px;
          display: flex;
          align-items: flex-end;
        }
      }

      .bombardier__score {
        font-size: 32px;
        font-weight: 700;
        padding-bottom: 10px;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: row;

    a {
      margin-left: 44px;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      color: $tc;

      @include lg {
        margin-left: 20px;
      }

      &:hover {
        color: $mc;
      }
    }
  }

  &__photo {
    display: none;
  }

  &__logo-team {
    max-width: 28px;
    width: 100%;
    margin-right: 20px;
    display: flex;
    align-items: center;

    @include lg {
      margin-right: 10px;
    }
  }

  &__name {
    @include lg {
      font-size: 14px;
    }
  }
}