extends layout/main/main
block title
  | main
block main
  .wrapper
    .content
      include includes/header/header
      include includes/last-news-main-page/last-news
      include includes/standings/standings
      include includes/banner/banner
      include includes/partners/partners
    include includes/footer/footer

  include includes/scripts  