extends layout/main/main
block title
  | media
block main
  .wrapper
    .content
      include includes/header/header
      include includes/banner-other/banner
      .media
        .container
          include includes/breadcrumbs/breadcrumbs
          +breadcrumbs(['Главная'], 'Медиа')
          h2.heading.heading--heading-ttu
            |ВСЕ МЕДИА-ФАЙЛЫ
            include includes/tabs-category/tabs-category
            +tabs-category(['Видео','Фотографии'], 'Все')
          .media__wrap
            mixin media(headingMedia,preview,type)
              .media__item
                a.preview.preview--media(href="#")
                  i.far.fa-image(class=type)
                  img(src=preview)
                  .preview__title-news=headingMedia
            +media('Красивейший гол 3-го тура','assets/img/media/1.jpg','far fa-image')
            +media('Абдыш-Ата 1 : 1 Алга','assets/img/media/2.jpg','far fa-image')
            +media('Абдыш-Ата 1 : 1 Алга','assets/img/media/3.jpg','fas fa-play-circle')
            +media('Абдыш-Ата 1 : 1 Алга','assets/img/media/4.jpg','fas fa-play-circle')
            +media('Красивейший гол 3-го тура','assets/img/media/5.jpg','fas fa-play-circle')
            +media('Алай 2 : 1 Дордой','assets/img/media/6.jpg','fas fa-play-circle')
            +media('Абдыш-Ата 1 : 1 Алга','assets/img/media/7.jpg','far fa-image')
            +media('Илбирс 6 : 1 Ак. Лидер','assets/img/media/8.jpg','fas fa-play-circle')
            +media('Красивейший гол 3-го тура','assets/img/media/9.jpg','far fa-image')
            +media('Алай 2 : 1 Дордой','assets/img/media/10.jpg','far fa-image')
            +media('Абдыш-Ата 1 : 1 Алга','assets/img/media/11.jpg','fas fa-play-circle')
            +media('Илбирс 6 : 1 Ак. Лидер','assets/img/media/12.jpg','fas fa-play-circle')
            +media('Красивейший гол 3-го тура','assets/img/media/13.jpg','fas fa-play-circle')
            +media('Алай 2 : 1 Дордой','assets/img/media/14.jpg','fas fa-play-circle')
            +media('Абдыш-Ата 1 : 1 Алга','assets/img/media/15.jpg','far fa-image')
            +media('Илбирс 6 : 1 Ак. Лидер','assets/img/media/16.jpg','fas fa-play-circle')
            +media('Красивейший гол 3-го тура','assets/img/media/17.jpg','fas fa-play-circle')
            +media('Алай 2 : 1 Дордой','assets/img/media/18.jpg','fas fa-play-circle')
            +media('Абдыш-Ата 1 : 1 Алга','assets/img/media/19.jpg','far fa-image')
            +media('Илбирс 6 : 1 Ак. Лидер','assets/img/media/20.jpg','far fa-image')

          include includes/pagination/pagination

    include includes/footer/footer

  include includes/scripts  