extends layout/main/main
block title
  | news detail
block main
  .wrapper
    .content
      include includes/header/header
      .news
        .container
          include includes/breadcrumbs/breadcrumbs
          +breadcrumbs(['Главная'], 'Новости')
          h2.heading.heading--heading-ttu
            |СБОРНАЯ КПЛ 5 ТУРА. ОБЗОР ТУРА, ЛУЧШИЕ ИГРОКИ
          .news__detail
            .news__date
              i.far.fa-clock
              | 21.10.2019
            .cols-wrap
              .main-col
                p Определились финалисты розыгрыша Кубка Кыргызстана по футболу сезона 2019 года.
                p 25 сентября в Бишкеке и Кочкор-Ате прошли ответные матчи полуфинальной стадии турнира.
                p «Дордой» в Бишкеке со счетом 4:1 обыграл «Алгу». Первая игра между этими командами также завершилась в пользу подопечных Александра Крестинина — 3:2.
                p В Кочкор-Ате местный «Нефтчи» со счетом 5:1 обыграл «Лидер. Итоговый счет этого противостояния 7:1.
                p Главный приз 27 октября разыграют «Дордой» и «Нефтчи».
                p Обладатель Кубка Кыргызстана 2019 года получит право выступить в плей-офф Кубка АФК.
              .secondary-col

                .news-preview
                  img(src="../../assets/img/news/news-detail.jpg" alt="")
            .cols-wrap
              .main-col
                h2.heading.heading--heading-ttu
                  |МАТЕРИАЛЫ по теме
                .media
                  .media__item
                    a.news-preview.preview.preview--media(data-fancybox="gallery1" href="../../assets/img/news/theme1.jpg")
                      i.far.fa-image
                      img(src="../../assets/img/news/theme1.jpg" alt="")
                      .preview__title-news
                        |Абдыш-Ата 1 : 1 Алга
                    a.preview--media-hidden(data-fancybox="gallery1" href="../../assets/img/news/theme2.jpg")
                      img(src="../../assets/img/news/theme2.jpg" alt="")
                    a.preview--media-hidden(data-fancybox="gallery1" href="../../assets/img/news/theme1.jpg")
                      img(src="../../assets/img/news/theme1.jpg" alt="")
                    a.preview--media-hidden(data-fancybox="gallery1" href="../../assets/img/news/theme2.jpg")
                      img(src="../../assets/img/news/theme2.jpg" alt="")
                  .media__item
                    a.news-preview.preview.preview--media(data-fancybox href="https://www.youtube.com/watch?v=o3QU_n8pNzE")
                      i.fas.fa-play-circle
                      img(src="../../assets/img/news/theme2.jpg" alt="")
                      .preview__title-news
                        |Абдыш-Ата 1 : 1 Алга
          .last-news
            h2.heading.heading--heading-ttu
              |ПОСЛЕДНИЕ НОВОСТИ
            .last-news__wrap
              mixin article(img,date,title,subtitle)
                .news__article
                  .news__article-img-wrap
                    .news__article-img
                      a(href="#")
                        img(src=img, alt="")
                  .news__article-info
                    .news__article-date
                      span=date
                    .news__article-title
                      a(href="#")=title
                    .news__article-subtitle
                      p=subtitle   
              +article('assets/img/news/artcl7.jpg','27.10.2019','Академия Лидер - Нефтчи - 3:3. Обзор матча.','Перестрелка в Оше закончилась ничьей')
              +article('assets/img/news/artcl8.jpg','27.10.2019','Сарыбеков Азамат пропустит 2 месяца','В последнем туре Азамат получил тяжелую травму')      

    include includes/footer/footer

  include includes/scripts  