extends layout/main/main
block title
  | stadium-detail
block main
  .wrapper
    .content
      include includes/header/header
      .stadium
        .container
          include includes/breadcrumbs/breadcrumbs
          +breadcrumbs(['Главная','Стадионы'],'Стадион им. Д. Омурзакова')
          h2.heading.heading--heading-ttu
            |СТАДИОН ИМ. Д. ОМУРЗАКОВА
          .cols-wrap
            .main-col
              .stadium__info-group
                span город:
                p Бишкек
              .stadium__info-group
                span Адрес: 
                p 17 ул. Тоголок Молдо, Бишкек
              .stadium__info-group
                span Вместимость:
                p 23 000
              .stadium__info-group
                span Клуб:
                p Профессиональный футбольный клуб ««Дордой»
              .stadium__info-group
                span Контакты:
                p omurzakovst@rambler.ru
                .stadium__info-group
                span Описание:
                p Главная спортивная арена (Стадио́н «Спарта́к») имени Долона Омурза́кова (Долен Омурзаков атындагы башкы спорттук арена («Спартак» стадиону) — многофункциональный стадион, расположенный в столице Киргизии — Бишкеке. Является крупнейшим стадионом страны, который вмещает 23 000 зрителей. Является домашним стадионом для национальной сборной Киргизии по футболу и футбольного клуба «Дордой». На стадионе также иногда проводят свои домашние матчи различные футбольные клубы Бишкека и различные по возрасту сборные Киргизии.

                p Стадион назван в честь первого руководителя спортивного комитета Киргизской ССР, занимавшего этот пост более 30 лет, с начала 1950-х и до 1970-х годов, известного спортивного руководителя той эпохи — Долена Омурзакова.

                p Стадион первоначально назывался просто «Спартак» и был заложен в 1939 года. Стройка стадиона была завершена в 1941 году. Стадион также был открыт 1941 году. В советские годы на стадионе проводили свои домашние матчи бишкекские футбольные команды. Также на этом стадионе проводил свои домашние матчи самый известный футбольный клуб Киргизии — «Алга». В настоящее время данный клуб проводит свои домашние матчи в основном на стадионе «Динамо», который вмещает 10 000 зрителей.

                p Стадион первый раз был капитально реконструирован в 1963 году, а позднее в конце 1980-х и в начале 2000-х годов. Кроме футбольных матчей, на стадионе проводятся соревнования по другим видам спорта, различные государственные и городские праздники и мероприятия.

            .secondary-col
              .stadium__img
                img(src="assets/img/stadium/stadium.jpg")
              .stadium__map
                #map

    include includes/footer/footer

  include includes/scripts  
  include includes/map/map