extends layout/main/main
block title
  | video
block main
  .wrapper
    .content
      include includes/header/header
      include includes/banner-other/banner
      .video
        .container
          include includes/breadcrumbs/breadcrumbs
          +breadcrumbs(['Главная','Медиа','Видеосюжеты'], 'Абдыш-Ата 1 : 1 Алга')
          h2.heading.heading--heading-ttu
            |Абдыш-Ата 1 : 1 Алга
          .date
            i.far.fa-clock
            | 21.10.2019
          .video__wrap
            .video__frame-wrap
              <iframe class="video-js" width="880" height="553" src="" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen=""></iframe>
            .video__last-video
              h3 Последние видео
              .video__last-video-list
                .media
                  .media__wrap
                    mixin media(headingMedia,preview,link)
                      .media__item
                        a.preview.preview--media.video-linkJs(href=link)
                          img(src=preview)
                          .preview__title-news=headingMedia
                    +media('Илбирс 6 : 1 Ак. Лидер','assets/img/media/7.jpg','https://www.youtube.com/embed/FSlM_4eMhB0')
                    +media('Кара-Балта 3 : 1 Алай','assets/img/media/5.jpg','https://www.youtube.com/embed/9kCzkS8nAQ4')
                    +media('Илбирс 6 : 1 Ак. Лидер','assets/img/media/7.jpg','https://www.youtube.com/embed/FSlM_4eMhB0')
                    +media('Кара-Балта 3 : 1 Алай','assets/img/media/5.jpg','https://www.youtube.com/embed/9kCzkS8nAQ4')

          h2.heading.heading--heading-ttu
            |Фото по теме  
          include includes/on-topic/on-topic

          .last-news
            h2.heading.heading--heading-ttu
              |НОВОСТИ ПО ТЕМЕ
            .last-news__wrap
              include includes/on-topic1/on-topic




    include includes/footer/footer

  include includes/scripts  